<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lp.myapp" >

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPermisson"
            android:label="@string/title_activity_my_permisson"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecyclerActivity"
            android:label="@string/title_activity_recycler"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.lp.FlipDeleteListItem.FlipDeleteActivity"
            android:label="@string/title_activity_flip_delete" />
        <activity
            android:name=".ActionbarViewPage"
            android:label="@string/title_activity_actionbar_view_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CollectionDemoActivity"
            android:label="@string/title_activity_collection_demo"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lp.rotation.RotationActivity"
            android:label="@string/title_activity_rotation"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lp.myapp.MainActivity" />
        </activity>
        <activity
            android:name=".BounceActivity"
            android:label="@string/title_activity_bounce" />

        <!-- <receiver -->
        <!-- android:name="TestReceiver" -->
        <!-- android:exported="false" -->
        <!-- android:permission="com.test.pl.mypermisson"> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.EDIT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="*" -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name="com.lp.slideviewpagebasic.SlideBasicActivity"
            android:label="@string/title_activity_slide_basic"></activity>
        <activity
            android:name="com.lp.FlipfinishActivity.FlipDeleteActivity"
            android:label="@string/title_activity_flip_delete"></activity>
        <activity
            android:name="com.lp.FlipfinishActivity.FlipDelete2"
            android:label="@string/title_activity_flip_delete2"></activity>

        <activity
            android:name="com.lp.FlipfinishActivity.FlipDelete3"
            android:label="@string/title_activity_flip_delete3"></activity>
        <activity
            android:name="com.lp.FlipfinishActivity.FlipDelete4"
            android:label="@string/title_activity_flip_delete3"></activity>

        <activity
            android:name="com.lp.girlsecret.GameHomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.lp.girlsecret.RemoveActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.lp.girlsecret.SettingActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.lp.girlsecret.GirlSecretActivity"
            android:label="@string/app_name">
        </activity>


        <activity
            android:name="com.lp.FancyCoverFlow.FancyCoverMainActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.lp.FancyCoverFlow.SimpleExampleActivity"
            android:label="@string/app_name"></activity>
    </application>

</manifest>
